governed_supply_chain_resilience:
  target: dev
  outputs:
    dev:
      type: duckdb
      path: "{{ env_var('DUCKDB_PATH', 'data/duckdb/scr.duckdb') }}"
      schema: "{{ env_var('DUCKDB_SCHEMA_DEV', 'analytics') }}"
      threads: 4

    prod:
      type: duckdb
      path: "{{ env_var('DUCKDB_PATH', 'data/duckdb/scr.duckdb') }}"
      schema: "{{ env_var('DUCKDB_SCHEMA_PROD', 'analytics_prod') }}"
      threads: 8
